version = 0.24.1

margin = 90

extension-indent = 3
function-indent = 3
let-binding-indent = 3
type-decl-indent = 3

parse-docstrings = true
wrap-comments = true

field-space = loose
let-binding-spacing = sparse
space-around-records = true
space-around-arrays = true
space-around-lists = true
space-around-variants = true

indicate-nested-or-patterns = space
break-cases = fit-or-vertical
break-sequences = true
sequence-style = separator
